* {
  
  /* quiz  */
  .question {
    font-weight: bold;
    margin-bottom: 1rem;
    font-size: 1.3rem;
  }
  .option {
    padding: 1rem;
    background-color: var(--primary_color);
    color: white;
    border-radius: 0.5rem;
    margin-bottom: 0.2rem;
  }
  
  /* show result  */
  .show_score {
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  
  .submit {
    padding: 0.4rem 0.5rem;
    color: white;
    background-color: var(--primary_color);
    border-radius: 0.4rem;
    border: none;
  }
  input[name="initials"] {
    width: 8em;
    height: 2em;
    margin-right: 0.5em;
  }
  input:focus {
    outline: none;
  }
  
  .answer {
    border-top: 0.2rem solid gray;
    padding-top: 1rem;
  }
  
  .leaderboard_show {
    padding: 1rem;
  }
  #go_back,
  #clear_highscores {
    background-color: var(--primary_color);
    color: white;
    padding: 0.4rem;
    border-radius: 0.4rem;
    border: none;
  }
  #go_back {
    margin-right: 1em;
  }
  