* {
  #go_back,
  #clear_highscores {
    background-color: var(--primary_color);
    color: white;
    padding: 0.4rem;
    border-radius: 0.4rem;
    border: none;
  }
  #go_back {
    margin-right: 1em;
  }
  