* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary_color: #095ca0;
  --secondary_color: #FF6B6B;
  --text_color: #333;
  --background_color: #f4f4f4;
}

body {
  font-family: Arial, sans-serif;
  background-color: var(--background_color);
  color: var(--text_color);
  line-height: 1.6;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: var(--primary_color);
  color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

nav .time {
  display: inline-block;
  width: 2em;
}

main {
  padding: 2rem;
  border: 1px solid #ddd;
  max-width: 800px;
  margin: 5rem auto;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

main h1 {
  font-size: 2.5rem;
  color: var(--primary_color);
  margin-bottom: 1.5rem;
}

main .description {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  color: #777;
}

main .start {
  padding: 1rem 2rem;
  font-weight: bold;
  color: white;
  background-color: var(--primary_color);
  border-radius: 0.4rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

main .start:hover {
  background-color: var(--secondary_color);
}

